html
  head
    title lolfi golfi
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/upload.js')
  body
    .box
      form(action="/sample", method="post", enctype="multipart/form-data")
        input(type="file", name="audiofile")
        input(type='submit')
